$primary: #79cda0;
$yellow: #faf05e;
$red: #db5f5d;
$orange: #f2a359;
$blue: #4199e0;
$gray: #9fa09e;
$black: #0f1108;
$white: #fbfffd;

:root {
  --color-primary_-3: #{adjust-color($primary, $lightness: -30%)};
  --color-primary_-2: #{adjust-color($primary, $lightness: -20%)};
  --color-primary_-1: #{adjust-color($primary, $lightness: -10%)};
  --color-primary_0: #{$primary};
  --color-primary_1: #{adjust-color($primary, $lightness: 10%)};
  --color-primary_2: #{adjust-color($primary, $lightness: 20%)};
  --color-primary_3: #{adjust-color($primary, $lightness: 30%)};

  --color-yellow_-3: #{adjust-color($yellow, $lightness: -30%)};
  --color-yellow_-2: #{adjust-color($yellow, $lightness: -20%)};
  --color-yellow_-1: #{adjust-color($yellow, $lightness: -10%)};
  --color-yellow_0: #{$yellow};
  --color-yellow_1: #{adjust-color($yellow, $lightness: 10%)};
  --color-yellow_2: #{adjust-color($yellow, $lightness: 20%)};
  --color-yellow_3: #{adjust-color($yellow, $lightness: 30%)};

  --color-red_-3: #{adjust-color($red, $lightness: -30%)};
  --color-red_-2: #{adjust-color($red, $lightness: -20%)};
  --color-red_-1: #{adjust-color($red, $lightness: -10%)};
  --color-red_0: #{$red};
  --color-red_1: #{adjust-color($red, $lightness: 10%)};
  --color-red_2: #{adjust-color($red, $lightness: 20%)};
  --color-red_3: #{adjust-color($red, $lightness: 30%)};

  --color-orange_-3: #{adjust-color($orange, $lightness: -30%)};
  --color-orange_-2: #{adjust-color($orange, $lightness: -20%)};
  --color-orange_-1: #{adjust-color($orange, $lightness: -10%)};
  --color-orange_0: #{$orange};
  --color-orange_1: #{adjust-color($orange, $lightness: 10%)};
  --color-orange_2: #{adjust-color($orange, $lightness: 20%)};
  --color-orange_3: #{adjust-color($orange, $lightness: 30%)};

  --color-blue_-3: #{adjust-color($blue, $lightness: -30%)};
  --color-blue_-2: #{adjust-color($blue, $lightness: -20%)};
  --color-blue_-1: #{adjust-color($blue, $lightness: -10%)};
  --color-blue_0: #{$blue};
  --color-blue_1: #{adjust-color($blue, $lightness: 10%)};
  --color-blue_2: #{adjust-color($blue, $lightness: 20%)};
  --color-blue_3: #{adjust-color($blue, $lightness: 30%)};

  --color-gray_-6: #{adjust-color($gray, $lightness: -40%)};
  --color-gray_-5: #{adjust-color($gray, $lightness: -35%)};
  --color-gray_-4: #{adjust-color($gray, $lightness: -28%)};
  --color-gray_-3: #{adjust-color($gray, $lightness: -21%)};
  --color-gray_-2: #{adjust-color($gray, $lightness: -14%)};
  --color-gray_-1: #{adjust-color($gray, $lightness: -7%)};
  --color-gray_0: #{$gray};
  --color-gray_1: #{adjust-color($gray, $lightness: 7%)};
  --color-gray_2: #{adjust-color($gray, $lightness: 14%)};
  --color-gray_3: #{adjust-color($gray, $lightness: 21%)};
  --color-gray_4: #{adjust-color($gray, $lightness: 28%)};
  --color-gray_5: #{adjust-color($gray, $lightness: 35%)};
  --color-gray_6: #{adjust-color($gray, $lightness: 40%)};

  --color-black: #{$black};
  --color-white: #{$white};
}

@media (prefers-color-scheme: dark) {
  $_dark-primary: adjust-color($primary, $lightness: -31%);
  $_dark-gray: adjust-color($gray, $lightness: -31%);

  :root {
    --color-primary_-3: #{adjust-color($_dark-primary, $lightness: -30%)};
    --color-primary_-2: #{adjust-color($_dark-primary, $lightness: -20%)};
    --color-primary_-1: #{adjust-color($_dark-primary, $lightness: -10%)};
    --color-primary_0: #{$_dark-primary};
    --color-primary_1: #{adjust-color($_dark-primary, $lightness: 10%)};
    --color-primary_2: #{adjust-color($_dark-primary, $lightness: 20%)};
    --color-primary_3: #{adjust-color($_dark-primary, $lightness: 30%)};

    --color-gray_-3: #{adjust-color($_dark-gray, $lightness: -30%)};
    --color-gray_-2: #{adjust-color($_dark-gray, $lightness: -20%)};
    --color-gray_-1: #{adjust-color($_dark-gray, $lightness: -10%)};
    --color-gray_0: #{$_dark-gray};
    --color-gray_1: #{adjust-color($_dark-gray, $lightness: 10%)};
    --color-gray_2: #{adjust-color($_dark-gray, $lightness: 20%)};
    --color-gray_3: #{adjust-color($_dark-gray, $lightness: 30%)};

    --color-black: #{$white};
    --color-white: #{$black};
  }
}

@function get-color($color: "primary", $lightness: 0%) {
  $_convert: calc($lightness / 100% * 10);
  @return var(--color- + $color + "_" + $_convert);
}
