:host {
  display: inline;
}

._isBold {
  font-weight: 700;
}

.primary_0 {
  color: var(--color-primary_0);
}

.primary_-1 {
  color: var(--color-primary_-1);
}

.gray_0 {
  color: var(--color-gray_0);
}
