@use "../utils/scss/size";

:host {
  display: block;
}

.heading {
  @include size.apply("font-size");

  display: inline-block;
  font-size: var(--font-size-3);
  margin-bottom: var(--font-size-0_75);

  &._bold {
    font-weight: 700;
  }
}
