@use "../utils/scss/size";

:host,
.svg {
  display: inline;
  pointer-events: none;
  line-height: 0.5;
}

.svg {
  @include size.apply("height", "width");

  width: var(--font-size-1);
  height: var(--font-size-1);
}
