:host,
.svg {
  display: inline-block;
  pointer-events: none;
}

.svg {
  height: var(--font-size_0);
  width: var(--font-size_0);

  &._small {
    height: var(--font-size_-1);
    width: var(--font-size_-1);
  }

  &._large {
    height: var(--font-size_2);
    width: var(--font-size_2);
  }
}
