:host {
  display: inline-block;
}

.link {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary_1);

  &:active {
    background-color: var(--color-primary_1);
  }
}
