@import "./config/scss/colors";
@import "./config/scss/font";

html,
body {
  background: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
