@use "../utils/scss/shadow";

:host {
  display: block;
}

.container {
  @include shadow.add(10px);
  @include shadow.color("primary", 2px);

  height: 300px;

  &:not(:hover)::before {
    border-width: 1px;
  }

  &:hover {
    transform: translate3d(0px, 0px, 0px) scale(1.025);
  }
}

.content {
  display: grid;
  justify-content: center;
  margin: var(--font-size_-1) 0;
}
