@use "../utils/scss/shadow";

:host {
  display: block;
}

.container {
  @include shadow.add(10px);
  @include shadow.color("primary", 2px);

  height: 275px;
  overflow: hidden;
  position: relative;
  user-select: none;
  transition: transform 0.2s;

  &:not(:hover)::before {
    border-width: 1px;
  }

  &:hover {
    transform: translate3d(0px, 0px, 0px) scale(1.05);
  }

  &._center {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .content {
      text-align: center;
      padding-bottom: var(--font-size_1);
    }
  }

  &._red_0 {
    @include shadow.color("red", 2px);
  }
  &._blue_0 {
    @include shadow.color("blue", 2px);
  }
  &._yellow_0 {
    @include shadow.color("yellow", 2px);

    svg {
      color: var(--color-black);
      opacity: 0.1;
    }
  }
  &._orange_0 {
    @include shadow.color("orange", 2px);
  }
  ._primary_0 {
    @include shadow.color("primary", 2px);
  }
  ._gray_0 {
    @include shadow.color("gray", 2px);
  }
}

.content {
  margin: var(--font-size_-1) 0;
  z-index: 1;
}

$_svg_width: 32px;
.background {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  left: 0;
  opacity: 0.33;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  svg {
    color: var(--color-white);
    height: $_svg_width;
    margin: $_svg_width * 0.5;
    transform: rotate(45deg);
    width: $_svg_width;
  }
}
