@use "../config/scss/breakpoints";

:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--font-size_0);

  @media screen and (max-width: breakpoints.$large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: breakpoints.$medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: breakpoints.$small) {
    grid-template-columns: repeat(1, 1fr);
  }
}
