@use "../config/scss/breakpoints";

:host {
  display: block;
  max-width: 1520px;
  margin: auto;
}

@mixin _columns($count: 4) {
  grid-template-columns: repeat($count, 1fr);

  @media screen and (max-width: breakpoints.$large) {
    grid-template-columns: repeat($count - 1, 1fr);
  }

  @media screen and (max-width: breakpoints.$medium) {
    grid-template-columns: repeat($count - 2, 1fr);
  }

  @media screen and (max-width: breakpoints.$small) {
    grid-template-columns: repeat($count - 3, 1fr);
  }
}

.grid {
  @include _columns();

  display: grid;
  gap: var(--font-size_0);

  &._2 {
    @include _columns(2);
  }

  &._3 {
    @include _columns(3);
  }
}
