@use "../config/scss/colors";

:host {
  display: block;
  max-width: 1920px;
  margin: auto;
}

#nav {
  display: grid;
  margin: calc(var(--font-size_0) / 2) var(--font-size_0) var(--font-size_0);
  grid-template-columns: 1fr auto;
}

.nav-link {
  $_thickness: 3px;

  border-radius: 5px;
  color: var(--color-black);
  display: inline-block;
  font-size: var(--font-size_0);
  height: var(--font-size_0);
  line-height: var(--font-size_0);
  padding: calc(var(--font-size_0) / 2) calc(var(--font-size_0) / 1.5)
    calc(var(--font-size_0) / 2 + $_thickness);
  text-decoration: none;
  user-select: none;

  &:hover,
  &._active {
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: var(--color-primary_0);
    text-decoration-thickness: $_thickness;
  }

  &._active {
    background: var(--color-primary_2);
  }

  &:hover:not(._active) {
    text-decoration-color: var(--color-primary_3);
  }

  & + .nav-link:not(:last-child) {
    margin: 0 5px;
  }
}

.links {
  .nav-link:first-child {
    color: var(--color-primary_-2);
    padding-right: calc(var(--font-size_0) * 1.5);
    margin-right: calc(var(--font-size_0) * 0.75);
    border-right: 1px solid var(--color-gray_2);
    border-radius: 0;
  }
}

c-icon {
  margin-right: 5px;
}
