@use "../config/scss/colors";

:host {
  display: block;
}

#nav {
  margin: 5px 5px 10px;
}

.nav-link {
  border-radius: 5px;
  color: var(--color-black);
  display: inline-block;
  padding: 8px 14px 12px;
  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 3px;
  }

  &.active {
    background: adjust-color(colors.$link, $lightness: 35%);
  }

  & + .nav-link:not(:last-child) {
    margin: 0 5px;
  }
}
