@use "../config/scss/breakpoints";

:host {
  display: block;
  margin: var(--font-size);
  padding: calc(var(--font-size) * 7);

  @media screen and (max-width: breakpoints.$large) {
    padding: calc(var(--font-size) * 5);
  }

  @media screen and (max-width: breakpoints.$medium) {
    padding: calc(var(--font-size) * 3);
  }

  @media screen and (max-width: breakpoints.$small) {
    padding: calc(var(--font-size) * 1);
  }
}
